*{
    margin: 0;
}
body {
    line-height: 1.5;
    font-size: 16px;
}
:root {
    --head-col: #444;
    --parag-col:#777;
}
.head-col {
    color: #444;
}
.par-col {
    color: #777;
}
.main-bg{
    background-color: rgba(214, 46, 51, 0.4);
}

/* Event Section Styling */
#event {
    background-image: url(images/events-heavenly-header.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 88vh;
}
.overLay {
    background-color:rgba(214, 46, 51, 0.6);
    height: 100%;
    width: 100%;
}
#main h2{
    margin-top: 12.5rem;
    margin-bottom: .625rem;
    font-size: 3.75rem;
}
#main p{
    font-size: .875rem;
    margin-bottom: .625rem;
    font-weight: 600;
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    height: 100%;
    left: 0;
    display: flex;
    z-index: 9999;
}
.sidebar-content {
    display:flex;
    width: 19.5vw;
    padding-top:  60px;
    flex-direction: column;
    background-color: #414658
}
.sidebar-content a{
    text-decoration: none;
    color: #fff;
    padding: 20px 8px 20px 32px;
    font-size: 1.562rem;
    display: block;
    transition: 0.3s
}
.sidebar-content .closebtn{
    top: 0;
    right: 25px;
    font-size: 36px;
    font-weight: 600;
    margin-left: 50px;
    padding: 20px 8px 20px 32px;
    cursor: pointer;
}
.sidebar .open{
    color: #fff;
    font-size:30px;
    cursor:pointer
}
.sidebar .openbtn{
    color: #fff;
    font-size:30px;
    cursor:pointer;
    align-self: center;
    display: block;
    padding-left: 1rem;
    transition: all .5sec;
}
.sidebar a:hover{
    color: rgba(214, 46, 51, 0.4);
}

.section-padding {
    padding: 100px 0;
}

/* Singers Section Styling */
#singers {
    margin: 0px auto;
    width: 50%;
}
#singers .accordion-button {
    background-color: rgba(214, 46, 51, 0.6);
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
}
#singers .accordion-button::after {
    width: 0;
    height: 0;
}
#singers .accordion-button:focus{
    box-shadow: none;
}
#singers .accordion-body{
    background-color: #ccc;
    font-size: .875rem;
}

/* Count Section Styling */
#countsec{
    background-image: url(images/invitation.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 45vh;
}
#countsec .container {
    height: 100%;
}
#countsec .count {
    padding: 50px;
    border: 1px solid #fff;
    color: #fff;
}

/* Contact Section Styling */
#hire-me h2{
    text-transform: uppercase;
    font-size: 35px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px
}
#hire-me h3{
    font-size: 1.125rem;
    margin: 20px 0 10px;
}

#hire-me .con-info{
    font-size: 16px;
    line-height: 26px
}

#hire-me .icons p{
    margin-bottom: 2.1875rem;
}

#hire-me .icons i{
    margin-right: 1.25rem;
}

#hire-me .con-info .con-social{
    margin-top: 3.75rem;
}

#hire-me .con-info .con-social .icon {
    margin-right: .625rem;
    border: 1px solid #999;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
#hire-me .con-info .con-social .icon:hover{
    color: #fff;
    background-color: #D62E33;
    border: 1px solid #D62E33;
}

#hire-me form input, #hire-me form textarea{
    padding: 10px 16px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
}

#hire-me form textarea{
    height: 200px;
    resize: vertical;
}

#char{
    font-size: 20px;
    color: #D62E33;
}

#hire-me form button {
    background-color: #D62E33;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0;
    text-transform: uppercase;
    display: block;
    margin-top: 1.25rem;
    font-size: 14px;
    font-weight: 400;
}

